#room-list .item {
    background: #111;
    vertical-align: middle;
}
#room-list .item td {
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    margin: 0;
}
#room-list {
    border-spacing: 0pt 10pt;
    margin: auto;
    background: rgba(0, 0, 0, .5);
    width: 1280px;
    padding: 5pt;
    min-height: 50px;
}

#create-wait {
    font: 34pt;
    text-align: center;
    justify-content: center;
    flex-flow: column;
}
#create-wait input {
    display: block;
    margin: auto;
}

#create-join-menu input {
    display: block;
    margin: auto;
}

canvas#cnv {
    background: rgba(0, 0, 0, .5);
}